@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;200;300;500;600;700&display=swap');
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
	max-width: 100%;
	height: 100%;
  background-color: #EDD5E0;
}

 /* -----
.cursor {
	position: absolute;
	width: 20px;
	height: 20px;
  border-radius: 50%;
  border: 10px solid #fffeee;
  z-index: 9999;
}


.expand {
  animation: cursorAnim .7s forwards;
  border: 5px solid #fffeee;
}

@keyframes cursorAnim {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

 

.scrollTop{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  transition: all 0.5s ease;
}

.scrollTop a i :hover {
  color: #edd5e0;
} 

.scrollTop a i{
  color: #000;
  font-size: 2rem;
} 

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #edd5e0;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #fffeee;
  border-radius: 25px;
} ---*/

body {
  min-height: 100vh;
  overflow: hidden;
}

/*---start of the flowers---*/

.dot{
  width:35px;
  height:35px;
  position:absolute;
  background-image: url("20190104_rose2.png");
  background-size: 100% 100%;
}
.dot2{
  width:35px;
  height:35px;
  position:absolute;
  background-image: url("20190104_rose.png");
  background-size: 100% 100%;
}
.dot3{
  width:35px;
  height:35px;
  position:absolute;
  background-image: url("20190104_rose3.png");
  background-size: 100% 100%;
}

#container {width:100%; height:100%;}


#DiacoDesignLink,#pens{
  color: #fff;
}

/*---end of the flowers---*/

.hero {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  padding: 0 8%;
}

.mainimage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 95%;
  object-fit: cover;
  opacity: 0.9;
} 

.wrapper {

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;
}

.herotext {
  font-family: 'Outfit', sans-serif;
  width: 16ch;
  animation: typing 1.5s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5.5em;
  z-index: 1000;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
} 

.titleText {
  color: #fffeee;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Fahkwang', sans-serif;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;
}

.social_links{
  text-align: center;
  position: relative;
}

.social_links a i{
  width: 50px;
  color: #000;
  font-size: 2rem;
}


.copyrightText {
  color: #000;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 2000;
}
